.light-button {
    padding: 14px 32px;
    border: 1px none;
    border-radius: 6px;
    background: #007aff;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
  }
  
  .light-button:hover {
    background: #0051e9;
    color: #fff;
  }
  
  .dark-button {
    padding: 14px 32px;
    border: 1px solid;
    border-radius: 6px; 
    background: transparent;
    color: #333333;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
  }
  
  .dark-button:hover {
    background: #333333;
    color: #fff;
  }