#header {
  background: #1a1919;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  color: #FFFFFF;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  width: 85px;
  height: auto;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 1px solid transparent;
}

.nav-links a:hover {
  color: #0051e9;
  border-bottom: 1px solid #0051e9;
}

.menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu-btn {
    display: flex;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #1a1919;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: max-height 0.4s ease-in-out;
    z-index: 999;
  }

  .menu-toggle:checked ~ .nav-links {
    max-height: 500px; 
    padding: 10px 0;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .nav-links a {
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #333333;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav-links a:hover {
    background-color: #333333;
    color: #0051e9;
  }
}
