#pricing {
  background: #fdfdfd;
  padding: 72px 20px;
  min-height: 95vh;
}

.pricing-heading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 32px;
  color: black;
}
.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.card {
  padding: 32px 24px;
  border-radius: 10px;
  width: 380px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-standard {
  background: #26aac2;
  color: #0a0a0a;
}

.card-gaming {
  background: #0dd470;
  color: #0a0a0a;
}

.card-discount {
  background: #850674;
  color: #0a0a0a;
}

.card-header {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.card-body {
  font-size: 1rem;
  text-align: center;
  padding: 0 24px;
}

.card-footer {
  margin-top: auto;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-footer h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 32px 0 24px 0;
}

.card-body hr {
  margin: 24px auto 0 auto;
  width: 70%;
  max-width: 220px;
  border: none;
  border-bottom: 2px solid #222;
}

/* Membership Section Layout */
#membership {
  background: #000000;
  padding: 72px 20px;
}

.membership-heading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 32px;
  color: #fdfdfd;
}

.membership-cards {
  padding: 24px ;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.membership-card {
  width: 100%;
  max-width: 540px;
  min-width: 320px;
  border-radius: 12px;
  padding: 48px 36px 36px 36px;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  box-sizing: border-box;
}

.membership-card.basic {
  background: #f3f3f3;
  color: #111;
}

.membership-card.premium {
  background: #1f00ac;
  color: #fff;
}

.membership-card-header {
  margin-bottom: 18px;
}

.membership-card-body {
  margin-bottom: 18px;
}

.membership-card p {
  margin-bottom: 18px;
  font-size: 1.1rem;
}

.membership-card ul {
  margin: 0 0 24px 0;
  padding-left: 24px;
}

.membership-card ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  list-style: none;
  position: relative;
}

.membership-card-footer {
  margin-top: auto;
}

.card:hover,
.membership-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

@media (max-width: 1024px) {
  .cards-container,
  .membership-cards {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .card,
  .membership-card {
    width: 95%;
    max-width: 500px;
    min-width: 0;
  }
}

@media (max-width: 768px) {
  #pricing,
  #membership {
    padding: 12px 0;
    height: auto;
  }
  .cards-container,
  .membership-cards {
    padding: 0 8px;
  }
  .card,
  .membership-card {
    width: 100%;
    max-width: 100%;
    padding: 12px 8px;
  }
  .card-header,
  .membership-heading {
    font-size: 1.1rem;
  }
}


















































